/* By Abdullah As-Sadeed */

* {
  background-image: none;
  box-shadow: none;
}

window {
  background-color: rgba(33, 33, 33, 0.95);
}

button {
  border: none;
  border-radius: 32px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24%;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.95);
  text-decoration-color: rgba(255, 255, 255, 0.95);
  margin: 200px 72px;
}

button:focus,
button:active,
button:hover {
  outline-style: none;
  background-color: rgba(97, 97, 97, 0.95);
  background-size: 32%;
}

#lock {
  background-image: image(url("/usr/share/wlogout/icons/lock.png"));
}

#logout {
  background-image: image(url("/usr/share/wlogout/icons/logout.png"));
}

#shutdown {
  background-image: image(url("/usr/share/wlogout/icons/shutdown.png"));
}

#reboot {
  background-image: image(url("/usr/share/wlogout/icons/reboot.png"));
}
